@model IEnumerable<MostafaProject.Models.Book>

@{
    ViewData["Title"] = "پنل ادمین";
}

<h1>لیست کتاب ها</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">ایجاد کتاب</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id=@item.Id>ویرایش</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id=@item.Id>حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
